<div class="container" style="min-height: 560px; font-family: 'Roboto', sans-serif, cursive;
font-family: 'Roboto', sans-serif, cursive;">

  <div class="row justify-content-center" style="padding-top: 4%;">
    <div class="col-lg-5">
      <div class="card shadow-lg border-0 rounded-lg mt-5">

        <div class="card-header " style="background-color:  #c5c6c7;">
          <h2 style="text-align: center; font-family: 'Roboto', sans-serif, cursive;
                                              font-family: 'Roboto', sans-serif, cursive;">Add membership plan</h2>
          <h5>{{msg}}</h5>
          <div class="card-body shadow-lg" style="background-color:  #1F2833;">

            <form (submit)="addPlan(f)" #f="ngForm">
              <div class="row">
                <div class="col">
                  <div class="form-floating mb-3">
                    <input class="form-control" id="inputfname" #firstname="ngModel" name="plan_name" ngModel type="text"
                      placeholder="fname" required minlength="3" />
                    <label for="fname">Plan Name</label>
                  </div>
                </div>
                <div class="col">
                  <div class="form-floating mb-3">
                    <input class="form-control" id="inputlname" #lastname="ngModel" name="price" type="text" placeholder="lname" ngModel required />
                    <label for="lname">Price</label>
                  </div>
                </div>
              </div>
              <p class="alert alert-danger" *ngIf="firstname.errors?.required && firstname.touched">Please enter the First Name</p>
              <p class="alert alert-danger" *ngIf="firstname.errors?.minlength && firstname.touched">Please enter Min 3 characters </p>
              

              <div class="form-floating mb-3">
                <input class="form-control" id="inputphone" type="text" placeholder="Phone Number" name="duration" ngModel #userphone="ngModel"  required pattern="^(0|[1-9][0-9]*)$" maxlength="10"/>
                <label for="inputphone">Duration</label>
              </div>
              <p class="alert alert-danger" *ngIf="userphone.errors?.required && userphone.touched">Please enter the Duration</p>
              <p class="alert alert-danger" *ngIf="userphone.errors?.pattern">please enter the valid duration</p>

              <div class="form-floating mb-3">
                <input class="form-control" id="inputAddress" name="benefits" type="text" ngModel #address="ngModel"
                placeholder="Fenwey, st no: 23" required />
                <label for="inputAddress">benefits</label>
              </div>
              <p class="alert alert-danger" *ngIf="address.errors?.required && address.touched">Please enter the benefits</p>

              
              <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
                <button class="btn btn-secondary btn-block" value="Register" type="submit"
                  [disabled]="f.invalid" style="text-align: center; font-family: 'Roboto', sans-serif, cursive;
                                                          font-family: 'Roboto', sans-serif, cursive;"> Add</button> <h5 style="color: black;">{{msg}}</h5>
              </div>
            </form>
          </div>
          <div class="card-footer text-center py-3">
            <p class="card-text"><small class="text-muted">Darwin Fitness</small></p>
            <button class="btn btn-secondary me-md-2" type="button" routerLink="/admin-dashboard" style="border:solid #1F2833; margin: 1vw;">Back
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>