<div class="container" style="font-family: 'Roboto', sans-serif, cursive;
font-family: 'Roboto', sans-serif, cursive;  max-height:200vh; padding-bottom: 20vh;">
<div class="d-grid gap-2 d-md-flex justify-content-md-center">
</div> 
<hr style="height: 2px; margin: 1%;padding: 0;">
    <div class="card text-center shadow-lg" style="margin: 17vw; width: 60%; background-color: #c5c6c7;">

        <div class="card-body" style="background-color:whitesmoke;">
            <h2 class="card-title text-success">Payment Successfull</h2>
            <p class="card-text">You have purchased {{packname}} Plan.</p>
            <a routerLink="/profile" class="btn btn-secondary">Go to profile</a>
        </div>
    </div>
</div>