<div
    style="background-color: whitesmoke; min-height:80vh; font-family: 'Roboto', sans-serif, cursive;
font-family: 'Roboto', sans-serif, cursive; background-color: #c5c6c7; border-radius: 12px; padding-left: 2vh; padding-right: 2vh;">
    <div class="container-fluid">
        <div class="row" style="margin-top: 30px;">

            <div class="col-sm-2"><button class="btn btn  me-md-2" style=" margin: 1vw; color: grey ;">
            </button></div>
        </div>

            <button class="btn btn-secondary me-md-2" type="button" routerLink="/member-management" style="border:solid #1F2833; margin: 1vw;">Manage members
            </button>
            <button class="btn btn-secondary me-md-2" type="button" routerLink="/gym-equipment" style="border:solid #1F2833; margin: 1vw;">Manage Equipments
            </button>

            <button class="btn btn-secondary me-md-2" type="button" routerLink="/membership-plan" style="border:solid #1F2833; margin: 1vw;">Manage Membership plans
            </button>
            <button class="btn btn-secondary me-md-2" type="button" routerLink="/feedback-manage" style="border:solid #1F2833; margin: 1vw;">View Feedback
            </button>

            <button class="btn btn-secondary me-md-2" type="button" routerLink="/manage-trainer" style="border:solid #1F2833; margin: 1vw;">Manage Trainer
            </button>

            <button class="btn btn-secondary me-md-2" type="button" routerLink="/view-class" style="border:solid #1F2833; margin: 1vw;">Manage Class details
            </button>
    </div>
</div>